*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 1rem 2rem;
    
}

.nav a{
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 2rem;
    margin-bottom: 2rem;
}

.hero-text h1{
    font-size: 3rem;
    margin: 1rem;
}

.hero-text p{
    font-size: 1.5rem;
    padding: 1rem;
}

.btn-primary{
    background-color: #3882F6;
    color: white;
    padding: 1rem 1rem;
}

.btn-primary a{
    text-decoration: none;
    color: white;
    border: 2rem;
}

.hero-image{
    border: 5px solid white;
    border-radius: 5px;
    height: 540px;
}

.Features h1{
    color: #1F2937;
    text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
}

.feature-cards{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin: 5rem 2rem;
}

.feature-cards p{
    width: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: gray;
}

.cards{
    border: 5px solid #3882F6;
    border-radius: 8px;
    height: 209px;
}

.Review{
    background-color: #E5E7Eb;
    width: 100%;
    padding: 5rem 2rem;
    margin-top: 2rem;
}

.Review p{
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    padding: 1rem;
}

.Review h2{
    font-size: 30px;
    text-align: right;
    padding: 2rem 10rem;
}

.Callout{
    height: auto;
    display: block;
    padding: 5rem 30rem;
}

.holder{
    display: flex;
    flex-wrap: wrap;
    background-color: #3882F6;
    height: auto;
    width: 800px;
    align-items: center;
    border: 5px solid #3882F6;
    border-radius: 8px;
    justify-content: space-between;
    padding: 1rem 3rem;
    gap: 1rem   ;
}

.holder h3 {
    display: contents;
    color: white;
    margin: 0;
}

.holder p{
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

.btn-secondary {
    background-color: #3882F6;
    color: white;
    padding: 0.75rem 1.5rem;
    border: 2px solid white;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-secondary a{
    color: white;
    text-decoration: none;
}
  
.btn-secondary:hover {
    color: #3882F6;
    background-color: #fff;
}

.footer{
    padding: 2rem 3rem;
    background: #1F2937;
    color: white;
    justify-items: center;
}

